{% extends "djity/base.html" %}

{% block module_head %}

<script type="text/javascript" src="{{STATIC_URL}}/djity_cowst/js/cowst.js"></script>
{% endblock %}


{% block module_onload %}

//Send the message to the notify framework 
dj.message("{{message}}");

//If user can edit apply the editor widget
if( dj.context.perm.edit )
{
    $('#cowst-message').editable({
        // No rich editor
        simple:true,
        // The ajax function to save the message
        save_function:'djity_cowst.save_message',
        // The ajax function to get the message in a specific language
        get_function:'djity_cowst.get_message',
        // The message language (if the message haven't the version of the current language)
        lang:dj.context.djity_cowst_lang
    });
}


{% endblock %}

{% block body %}

<p>Your message  is  :  <span id="cowst-message">{{message|safe}}</span> </p>

<p>You can edit message : click it!</p>



{% endblock %}

